---
import '../components/porto.css'
import Navbar from '../components/Navbar.jsx'
import { Image } from 'astro:assets'
import ciscoImg from '../assets/certificates/cisco.png'
import bejs from '../assets/certificates/bejs.png'
import bejs1 from '../assets/certificates/bejs1.png'
import js from '../assets/certificates/js.png'
import js1 from '../assets/certificates/js1.png'
import js2 from '../assets/certificates/js2.png'
import aws from '../assets/certificates/aws restart.png'
import lana from '../assets/profile.png'

const certificates = [
    {
        name: 'cisco cyber security',
        photo: ciscoImg
    },
    {
        name : 'Dicoding Back-End JavaScript',
        photo: [bejs, bejs1]

    },
    {
        name: 'Dicoding JavaScript',
        photo: [js,js1,js2]
    },
    {
        name: 'AWS Re/Start',
        photo: aws
    }
]
const profile = {
    name: 'Lana Jauhar',
    title: 'Software Engineering',
    description:
        'Saya membantu membangun produk digital modern dengan pendekatan engineering yang rapi, terstruktur, dan fokus pada kebutuhan bisnis.',
    // photo: '/profile-lana.svg'
    photo : lana
};
const techStacks = [
    'Kotlin',
    'Java',
    'JavaScript',
    'PHP',
    'CSS',
    'Laravel',
    'Jetpack Compose',
    'Kotlin Multi Platform',
    'astro',
    'Express.js',
    'Flutter',
    'Spring Boot',
    'firebase',
    'supabase',
    'PostgreSQL',
    'MySQL',
];

const portfolios = [
    {
        title: 'Aplikasi Inventory Mini',
        detail: 'Pengembangan aplikasi pencatatatan barang dengan performa ringan.',
        stack: 'Kotlin, Jetpack Compose, Supabase',
        github: 'https:github.com/lana-jo'
    },
    {
        title: 'Sistem Administrasi Sekolah',
        detail: 'Dashboard manajemen data guru dan siswa untuk meningkatkan efisiensi.',
        stack: 'Laravel, PHP, MySQL',
        github: 'https:github.com/lana-jo'
    },
    {
        title: 'API Backend Bisnis',
        detail: 'Membangun REST API modular untuk kebutuhan aplikasi multi-platform.',
        stack: 'Express.js, PostgreSQL',
        github: 'https:github.com/lana-jo'
    }
];
---

<div class="bg-blur bg-blur-one"></div>
<div class="bg-blur bg-blur-two"></div>

<main class="portfolio">
    <!--<Navbar client:load class="menu card reveal">-->
    <Navbar client:load >
        <a href="#home">home</a>
        <a href="#aboutme">About Me</a>
        <a href="#techstack">Tech Stack</a>
        <a href="#porto">Porto</a>
        <a href="#certif">Certificate</a>
    </Navbar>

    <header id="home" class="hero card reveal delay-1">
        <div>
            <h1>{profile.title} | {profile.name}</h1>
            <p class="description">{profile.description}</p>
        </div>
        <Image src={profile.photo} alt={profile.name} />
        <!--<img class="profile-photo" src={profile.photo} alt={`Foto profil ${profile.name}`} loading="eager"/>-->
    </header>

    <section id="aboutme" class="card reveal delay-2">
        <h2>About Me</h2>
        <p>
            Saya memiliki pengalaman <strong>1 tahun sebagai developer</strong> dan <strong>2 tahun
            sebagai guru</strong>, sehingga saya bisa memadukan keduanya untuk mewujudkan keinginan
            Anda secara teknis sekaligus komunikatif.
        </p>
    </section>

    <section id="techstack" class="card reveal delay-3">
        <h2>Tech Stack</h2>
        <div class="chips">
            {
                techStacks.map((stack) => (
                        <span class="chip">{stack}</span>
                ))
            }
        </div>
    </section>

    <section id="porto" class="card reveal delay-4">
        <h2>Porto</h2>
        <div class="projects">
            {
                portfolios.map((item) => (
                        <article class="project-item">
                            <h3>{item.title}</h3>
                            <p>{item.detail}</p>
                            <small>{item.stack}</small>

                            <a href={item.github} target="_blank">
                                <button>Click me</button>
                            </a>
                        </article>
                ))
            }
        </div>
    </section>

    <section id="certif" class="card reveral delay-4">
        <h2>Certificate</h2>

        <div>
            {
                certificates.map((item) => (
                        <div class="certificate-item">
                            <h3>{item.name}</h3>

                            {Array.isArray(item.photo) ? (
                                item.photo.map((img) => (
                                        <Image src={img} alt={item.name}  />
                                ))
                            ) : (
                                    <Image src={item.photo} alt={item.name} />
                            )}

                        </div>
                ))
            }
        </div>
    </section>
</main>
